@keyframes moving-text {
  0% {
    left: 100%;
  }

  50% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 359deg;
  }
}

@keyframes spin-reverse {
  from {
    rotate: 359deg;
  }
  to {
    rotate: 0deg;
  }
}
