@font-face {
  font-family: faktum test;
  font-style: normal;
  font-weight: 400;
  src: local("Faktum Test"),
    url("https://fonts.cdnfonts.com/s/19541/Rene Bieder - Faktum Test Regular.woff")
      format("woff");
  font-display: swap;
}
@font-face {
  font-family: faktum test;
  font-style: normal;
  font-weight: 700;
  src: local("Faktum Test"),
    url("https://fonts.cdnfonts.com/s/19541/Rene Bieder - Faktum Test Bold.woff")
      format("woff");
  font-display: swap;
}
