/* Variables */
:root {
  /* COLORS */
  /* PRIMARY */
  --clr-primary-100: hsl(112, 26%, 47%);
  /* NEUTRAL */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 11%);
  /* FONT SIZE */
  --fs-paragraph-100: 1rem;
  --fs-heading-100: 4rem;
  --fs-heading-200: 3rem;
  --fs-heading-300: 2rem;
  /* FONT FAMILY */
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Faktum Test", sans-serif;
  /* FONT WEIGHTS */
  --fw-primary-100: 400;
  --fw-primary-200: 500;
  --fw-primary-300: 600;
  --fw-secondary: 700;
  /* TRANSITION */
  --transition-duration: 0.4s;
  --nav-item-width: min(12%, 7rem);
}

ul {
  list-style: none;
}

span {
  color: var(--clr-primary-100);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

span {
  color: var(--clr-primary-100);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

/* HEADINGS */
.heading {
  font-family: var(--ff-secondary);
}

.fw-main {
  font-weight: var(--fw-primary-100);
}

.head-fw-100 {
  font-weight: var(--fw-secondary);
}

.head-fs-100 {
  font-size: var(--fs-heading-100);
}

.head-fs-200 {
  font-size: var(--fs-heading-200);
}

.head-fs-300 {
  font-size: var(--fs-heading-300);
}

/* PARAGRAPHS */
.par {
  font-family: var(--ff-primary);
}

.par-fw-200 {
  font-weight: var(--fw-primary-200);
}

.par-fw-300 {
  font-weight: var(--fw-primary-300);
}

.par-fs-100 {
  --fs-paragraph-100: 1.125rem;
  font-size: var(--fs-paragraph-100);
}

.par-fs-200 {
  --fs-paragraph-100: 1.25rem;
  font-size: var(--fs-paragraph-100);
}

.par-fs-300 {
  font-size: var(--fs-paragraph-100);
}

.par-fs-400 {
  --fs-paragraph-100: 0.75rem;
  font-size: var(--fs-paragraph-100);
}

.par-fs-500 {
  --fs-paragraph-100: 0.875rem;
  font-size: var(--fs-paragraph-100);
}

/* COLORS */
.txt-black-100 {
  color: var(--clr-neutral-200);
}

.txt-black-200 {
  --clr-neutral-200: hsla(0, 0%, 0%, 0.8);
  color: var(--clr-neutral-200);
}

.txt-black-300 {
  --clr-neutral-200: hsla(0, 0%, 0%, 0.4);
  color: var(--clr-neutral-200);
}

.txt-black-400 {
  --clr-neutral-200: hsla(0, 0%, 0%, 0.2);
  color: var(--clr-neutral-200);
}

.txt-white-100 {
  color: var(--clr-neutral-100);
}

.txt-white-200 {
  --clr-neutral-100: hsla(0, 0%, 100%, 0.4);
  color: var(--clr-neutral-100);
}

.txt-white-300 {
  --clr-neutral-100: hsla(0, 0%, 100%, 0.8);
  color: var(--clr-neutral-100);
}

.txt-green-100 {
  color: var(--clr-primary-100);
}

.bg-white-100 {
  background-color: var(--clr-neutral-100);
}

.bg-white-200 {
  --clr-neutral-100: hsla(0, 0%, 100%, 0.1);
  background-color: var(--clr-neutral-100);
}

.bg-white-300 {
  --clr-neutral-100: hsl(0, 0%, 98%);
  background-color: var(--clr-neutral-100);
}

.bg-green-100 {
  background-color: var(--clr-primary-100);
}

.bg-black-100 {
  background-color: var(--clr-neutral-200);
}

.bg-black-200 {
  --clr-neutral-200: hsl(0, 0%, 0%, 0.05);
  background-color: var(--clr-neutral-200);
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-color: transparent;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html {
  scroll-padding-top: 5rem;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  width: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* prevents outline on pseudo classes on anchor links */
a:focus,
a:visited,
a:active {
  outline-color: transparent;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons and prevent blue highlight box */
input,
button,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
  font: inherit;
  outline: transparent;
}

.navigation__list {
  font-family: var(--ff-primary);
  font-size: var(--fs-paragraph-100);
}
.navigation__list {
  --clr-neutral-200: hsla(0, 0%, 0%, 0.4);
  color: var(--clr-neutral-200);
}
.navigation__link:hover, .navigation__link:focus {
  color: black;
}

.navigation-menu {
  font-family: "Faktum Test", sans-serif;
  font-weight: 400;
  color: white;
}
.navigation-menu__item--two {
  font-size: 4rem;
}
.navigation-menu__item--two > .text-wrapper {
  font-size: 7rem;
}
.navigation-menu__item--three {
  font-size: 2rem;
}
.navigation-menu__item--four {
  font-size: 2rem;
  color: black;
}
.navigation-menu__item--five {
  font-size: 2rem;
}

.text-wrapper {
  font-size: 6rem;
  font-weight: 400;
}

@keyframes moving-text {
  0% {
    left: 100%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 359deg;
  }
}
@keyframes spin-reverse {
  from {
    rotate: 359deg;
  }
  to {
    rotate: 0deg;
  }
}
/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(10px);
  filter: blur(0.2);
  padding: 1rem 1rem;
  max-width: 1700px;
  margin: 0 auto;
  z-index: 1;
  /* border-block-end: 1px solid black; */
}
.navigation__logo {
  width: var(--nav-item-width);
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navigation__link {
  position: relative;
  padding: 7px 0;
}
.navigation__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.4s ease-out;
  border-radius: 100px;
}
.navigation__link:hover::after, .navigation__link:focus::after {
  left: 12.5%;
  right: 12.5%;
  width: 75%;
}
.navigation__link:hover, .navigation__link:focus {
  transition: 0.3s ease-out;
}
.navigation__wrapper {
  width: var(--nav-item-width);
  display: grid;
  justify-content: end;
}
.navigation__button {
  width: 2.375rem;
  height: 2.375rem;
  transition: all 0.15s;
}
.navigation__button-section--one {
  grid-template-columns: repeat(2, 1fr);
}
.navigation__button-section--two {
  grid-template-columns: repeat(3, 1fr);
}
.navigation__button:hover {
  cursor: pointer;
}
.navigation__button-item {
  background-color: var(--clr-neutral-200);
  border-radius: 0.125rem;
}
.navigation__button-item:hover {
  background-color: hsl(112, 31%, 40%);
}

.navigation__button, .navigation__button-section {
  display: grid;
  gap: 0.125rem;
}

/* NAVIGATION MENU*/
.display--grid {
  display: grid;
}

.link {
  opacity: 0;
  translate: 0 100px;
}

.navigation-menu {
  display: grid;
  background-color: hsl(0, 0%, 0%);
  gap: 1rem;
  grid-template-rows: 1fr minmax(150px, 36%);
  inline-size: 100%;
  position: fixed;
  min-block-size: 100vh;
  padding: 2.2rem;
  z-index: -1000;
  opacity: 0;
}
.navigation-menu__section {
  display: grid;
  gap: 1rem;
}
.navigation-menu__section--one {
  grid-template-columns: 1fr minmax(150px, 36%);
}
.navigation-menu__section--two {
  grid-template-columns: repeat(3, 1fr);
}
.navigation-menu__item {
  position: relative;
  padding: 1.5rem;
  align-items: end;
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.navigation-menu__item:active {
  scale: 0.95;
  cursor: pointer;
}
.navigation-menu__item:hover .text-wrapper {
  opacity: 1;
}
.navigation-menu__item--wrapper {
  background: hsl(0, 0%, 98%);
  border-radius: 40px;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: grid;
}
.navigation-menu__item--wrapper:active {
  scale: 0.95;
  cursor: pointer;
}
.navigation-menu__item--wrapper--2 {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-auto-flow: column;
}
.navigation-menu__item__par {
  transition: all 0.15s;
}
.navigation-menu__item__icon {
  border: 2px solid white;
  inline-size: 100%;
  block-size: auto;
  padding: 1.5rem;
  place-items: center;
  border-radius: 20px;
  transition: all 0.15s;
  display: grid;
}
.navigation-menu__item__icon--huge {
  justify-content: end;
  inline-size: 120px;
  block-size: auto;
  padding: 2.5rem;
  border-radius: 40px;
}
.navigation-menu__item__icon--border-dark {
  border: 1px solid rgb(0, 0, 0);
}
.navigation-menu__item--one {
  background: url(../assets/mockups/landing-page.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  scale: 1;
}
.navigation-menu__item--two {
  display: grid;
  background-color: hsl(112, 26%, 47%);
  align-items: space-between;
}
.navigation-menu__item--three {
  display: grid;
  background-color: hsla(0, 0%, 100%, 0.1);
}
.navigation-menu__item--four {
  display: grid;
  background-color: hsl(0, 0%, 98%);
}
.navigation-menu__item--five {
  display: grid;
  background-color: hsla(0, 0%, 100%, 0.4);
}

.navigation-menu__item:hover p,
.navigation-menu__item:hover .navigation-menu__item__icon {
  opacity: 0;
}

.navigation-menu__item-wrapper:hover .navigation-menu__item--one {
  scale: 1.05;
}

.text-wrapper {
  position: absolute;
  top: 50%;
  white-space: nowrap;
  transition: 0.2s ease-out;
  translate: 0 -50%;
  animation: moving-text 15s linear infinite;
  opacity: 0;
}

/* TO BE ADDED BY JS */
.overlay {
  background-color: hsl(0, 0%, 0%);
  min-block-size: 100vh;
  inline-size: 100%;
  position: fixed;
  opacity: 0;
  transition: opacity 0.3s;
}

.navigation-menu--display {
  z-index: 1000;
  opacity: 1;
}

.visible {
  opacity: 1;
}

.z-index {
  z-index: 500;
}

.visible--nav {
  opacity: 1;
}

.visible--nav {
  translate: 0 0;
}

/* HEADER */
.header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  text-align: center;
}

h1.heading {
  /* font-size: 5rem; */
}

/* FOOTER SECTION */
.footer .container {
  padding: 3.75rem 0;
  justify-content: space-between;
}

.footer-field {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.footer-field ::placeholder {
  color: hsla(0, 0%, 100%, 0.4);
}

.footer__input {
  color: var(--clr-neutral-100);
}

.contact {
  justify-content: space-between;
  flex-direction: column;
}

.contact-heading {
  padding-bottom: 1rem;
}

.contact-item {
  color: var(--clr-neutral-100);
}

.footer__nav-bar {
  gap: 0.75rem;
  flex-direction: column;
  line-height: 28px;
}

.footer__link:hover {
  color: hsl(0, 0%, 100%);
}

.contact-item > a {
  color: hsl(0, 0%, 100%);
}

.contact-item > a:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.input {
  background-color: transparent;
  border: 0;
  padding: 0 0.7rem;
  width: 300px;
}

input[type=email]:focus {
  border: 2px solid var(--clr-primary-100);
  border-radius: 8px;
}

.input__field {
  display: flex;
  padding: 0.313rem;
  border-radius: 8px;
  gap: 0.3rem;
  justify-content: space-between;
}

.input-wrapper {
  flex-direction: column;
  gap: 0.75rem;
}

.header > .input-wrapper {
  width: min(450px, 100%);
}

.header-field ::placeholder {
  color: hsla(0, 0%, 0%, 0.2);
}

.button {
  border: 0;
  padding: 0.625rem 1rem;
  border-radius: 8px;
}

.header__button:hover {
  background-color: hsl(112, 31%, 40%);
}

.footer__button:hover {
  filter: brightness(0.9);
}

/* MAIN */
.main .container {
  flex-direction: column;
  gap: 6.25rem;
  padding: 7rem 0;
}

.main__article {
  display: flex;
  background-color: var(--clr-primary-100);
  border-radius: 40px;
  padding: 2.5rem 4rem;
  gap: 7rem;
  align-items: center;
  line-height: 1.7;
}

/* OUR GOAL SECTION */
.article__section {
  flex: 1 1 50%;
}

.orbit__section {
  position: relative;
  flex: 1 5 50%;
}

.orbit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(61.74% 67.72% at 50% 50%, hsla(112, 14%, 43%, 0) 57.29%, hsla(0, 0%, 100%, 0.08) 81.6%);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  position: relative;
}

.orbit::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.first-layer {
  width: 100%;
  animation: spin 11s linear 0s infinite;
}

.avatar {
  position: absolute;
  width: 2rem;
}

.avatar-1 {
  top: -23px;
}

.avatar-2 {
  left: -24px;
}

.avatar-3 {
  right: -24px;
}

.avatar-4 {
  bottom: -24px;
}

.second-layer {
  width: 80%;
  animation: spin-reverse 7s linear 0s infinite;
}

.avatar-5 {
  top: 40px;
  left: 35px;
}

.avatar-6 {
  top: 40px;
  right: 35px;
}

.avatar-7 {
  bottom: 40px;
  left: 35px;
}

.avatar-8 {
  bottom: 40px;
  right: 35px;
}

.third-layer {
  width: 70%;
  animation: spin 5s linear 0s infinite;
}

.avatar-9 {
  top: 54px;
  left: -2px;
}

.avatar-10 {
  bottom: 54px;
  right: -2px;
}

.center-piece {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

/* MEET OUR TEAM SECTION */
.team {
  display: flex;
  justify-content: space-between;
  gap: 6.25rem;
}

.team__grid {
  padding: 1rem 2.5rem;
}

.team__context {
  align-self: flex-start;
  line-height: 1.7;
  position: sticky;
  top: 79px;
}

.member-card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--clr-primary-100);
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.member__details {
  padding: 0.5rem 0;
}

.member-name {
  font-family: var(--ff-secondary);
  font-size: 1rem;
  font-weight: var(--fw-primary-300);
}

.member-position {
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary-100);
  font-size: 0.875rem;
  --clr-neutral-200: hsla(0, 0%, 0%, 0.8);
  color: var(--clr-neutral-200);
}

/* CTA SECTION */
.cta {
  display: grid;
  grid-template-columns: 30% 30% 40%;
}

.cta__card {
  padding: 1.375rem;
}

.cta__content__wrapper {
  padding: 1.375rem;
  flex-direction: column;
  justify-content: space-between;
  min-height: 27rem;
  transition: background-color var(--transition-duration), border-radius var(--transition-duration);
}

.join {
  width: 74%;
}

.cta__card-content {
  flex-direction: column;
  gap: 1rem;
}

.arrow-wrapper {
  padding: 1.35rem;
  border: 1px solid var(--clr-neutral-200);
  border-radius: 16px;
  width: fit-content;
  transition: padding var(--transition-duration), border var(--transition-duration);
}

.arrow {
  transition: rotate var(--transition-duration);
}

.arrow path {
  transition: fill var(--transition-duration);
}

/* Hover classes */
.arrow--grow {
  padding: 1.5rem;
  border: 1px solid var(--clr-neutral-100);
}

.arrow--rotate {
  rotate: -45deg;
}

.arrow--clr {
  fill: hsl(0, 0%, 100%);
}

.card--hover {
  background-color: var(--clr-primary-100);
  border-radius: 16px;
  cursor: pointer;
}

.border-left {
  border-left: 1px solid var(--clr-neutral-200);
}

.cta__heading {
  padding: 0 2.75rem;
}

/* FAQ SECTION */
.faq {
  justify-content: space-between;
  align-items: flex-start;
  gap: 7.5rem;
}

.faq-heading {
  line-height: 1;
  width: 50%;
}

.faq-content {
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.question-wrapper {
  border: 1px solid transparent;
  border-radius: 24px;
  --clr-neutral-200: hsl(0, 0%, 0%, 0.05);
  background-color: var(--clr-neutral-200);
  transition: background-color 1s, border 0.5s ease-in-out;
  cursor: pointer;
}

.question-wrapper:hover {
  border: 1px solid;
}

.question {
  padding: 1.3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s;
}

.answer p {
  padding: 0 1.5rem 1rem;
}

.question-wrapper.active .answer {
  max-height: 25rem;
}

.active--section {
  border: 1px solid hsl(0, 0%, 11%);
  background-color: transparent;
}

.question-wrapper.active .question .faq__arrow {
  rotate: 180deg;
}

.faq__arrow {
  transition: rotate 0.75s;
}

.team__grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.card-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.card-btn:hover {
  background-color: #000000;
  fill: white;
}

.observe-section {
  opacity: 0;
  translate: 0 50px;
  transition: all 1s;
}

.display {
  opacity: 1;
  translate: 0 0;
}

@media (min-width: 900px) {
  .header__grid {
    background: url(../assets/elipse.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .slides {
    display: grid;
    grid-template-rows: 105px auto 105px;
    column-gap: 3.125rem;
  }
  .one {
    grid-row: 1/3;
  }
  .two {
    grid-row: 2/4;
  }
  .three {
    grid-row: 2/4;
  }
  .four {
    grid-row: 1/3;
  }
  .team__grid {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .btn-container {
    display: none;
  }
  /* .dots-container {
    display: none;
  } */
}
@media (max-width: 900px) {
  .navigation-menu__section--one,
  .navigation-menu__section--two {
    grid-template-columns: 1fr;
  }
  .navigation-menu__item__icon {
    display: none;
  }
  .head-fs-100 {
    --fs-heading-100: 3rem;
    font-size: var(--fs-heading-100);
  }
  .header-field {
    display: flex;
    flex-direction: column;
  }
  .header-field > .input {
    padding: 0.5rem 0;
  }
  .input {
    width: 100%;
  }
  .header-field > .input::placeholder {
    text-align: center;
  }
  #carousel {
    display: flex;
    width: 400px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  #carousel::-webkit-scrollbar {
    display: none;
  }
  .slides {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  .slide {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    height: 650px;
  }
  .dots {
    border: none;
    background-color: #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0;
  }
  .dots-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem;
  }
  .dots--active {
    background-color: hsl(112, 31%, 40%);
    opacity: 1;
  }
  .main__article {
    padding: 2.5rem;
  }
  .navbar__link {
    display: none;
  }
  .main__article {
    flex-direction: column;
  }
  .our-goal {
    width: 100%;
  }
  .avatar {
    width: 20px;
  }
  .orbit__section {
    display: none;
  }
  .team {
    flex-direction: column;
  }
  .team__context {
    position: relative;
    width: 100%;
  }
  .team__grid {
    width: min(100%, 1100px);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - 12px);
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
  }
  .team__grid::-webkit-scrollbar {
    display: none;
  }
  .member-card {
    scroll-snap-align: start;
    cursor: pointer;
    overflow: hidden;
  }
  .footer .container {
    flex-direction: column;
    gap: 1.875rem;
  }
  i .input__field {
    --fs-paragraph-100: 0.9rem;
    font-size: var(--fs-paragraph-100);
  }
  .cta {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .cta__heading {
    padding: 0;
    font-size: 1.5rem;
  }
  .border-left {
    border: 0;
  }
  .cta__card {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: var(--clr-neutral-200);
  }
  .contact-heading {
    font-size: 1rem;
  }
  .faq {
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
  }
  .faq-heading {
    width: 100%;
    font-size: 1.5rem;
  }
  .faq-content {
    width: 100%;
  }
  .question > h4 {
    font-size: 1rem;
    font-weight: 600;
  }
  .footer__nav-bar {
    display: none;
  }
}
@media (max-width: 600px) {
  .team__grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
  }
  .member-card {
    scroll-snap-align: center;
    cursor: pointer;
  }
  .navigation__list {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
