/* ............................... */
.input {
  background-color: transparent;
  border: 0;
  padding: 0 0.7rem;
  width: 300px;
}

input[type="email"]:focus {
  border: 2px solid var(--clr-primary-100);
  border-radius: 8px;
}

/* input[type="email"]:invalid {
  border: 2px solid red;
  border-radius: 8px;
} */

.input__field {
  display: flex;
  padding: 0.313rem;
  border-radius: 8px;
  gap: 0.3rem;
  justify-content: space-between;
}

.input-wrapper {
  flex-direction: column;
  gap: 0.75rem;
}

.header > .input-wrapper {
  width: min(450px, 100%);
}

.button {
  border: 0;
  padding: 0.625rem 1rem;
  border-radius: 8px;
}

.header__button:hover {
  background-color: hsla(112, 31%, 40%);
}

.footer__button:hover {
  filter: brightness(0.9);
}

.header-field ::placeholder {
  color: hsla(0, 0%, 0%, 0.2);
}

/* NAVIGATION */
.navbar {
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--clr-neutral-100);
  padding: 1rem 2rem;
  max-width: 1700px;
  margin: 0 auto;
  z-index: 1;
}

.navbar__logo {
  width: var(--nav-item-width);
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar__link {
  position: relative;
  padding: 7px 0;
}

.navbar__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.4s ease-out;
  border-radius: 100px;
}

.navbar__link:hover::after,
.navbar__link:focus::after {
  left: 12.5%;
  right: 12.5%;
  width: 75%;
}

.navbar__link:hover,
.navbar__link:focus {
  transition: 0.3s ease-out;
  color: black;
}

/* .navbar__link:focus {
  color: black;
} */

.navbar .wrapper {
  width: var(--nav-item-width);
  display: flex;
  justify-content: end;
}

.grid__menu {
  width: 2.375rem;
  height: 2.375rem;
  display: grid;
  grid-template-areas:
    "item-1 item-1 item-1 item-2 item-2 item-2"
    "item-3 item-3 item-4 item-4 item-5 item-5";
  gap: 0.125rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: auto auto auto auto;
}

.grid__item {
  background-color: var(--clr-neutral-200);
  border-radius: 0.125rem;
}

.box-1 {
  grid-area: item-1;
}

.box-2 {
  grid-area: item-2;
}

.box-3 {
  grid-area: item-3;
}

.box-4 {
  grid-area: item-4;
}

.box-5 {
  grid-area: item-5;
}

/* HEADER */
.header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  text-align: center;
  /* padding: 2rem 0; */
}

h1.heading {
  /* font-size: 5rem; */
}

/* MAIN */
.main .container {
  flex-direction: column;
  gap: 6.25rem;
  padding: 7rem 0;
}

.main__article {
  display: flex;
  background-color: var(--clr-primary-100);
  border-radius: 40px;
  padding: 5rem;
  gap: 7rem;
  align-items: center;
  line-height: 1.7;
}

/* OUR GOAL SECTION */
.our-goal {
  width: 50%;
}

.orbit__section {
  width: 50%;
}

.orbit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: radial-gradient(
    61.74% 67.72% at 50% 50%,
    hsla(112, 14%, 43%, 0) 57.29%,
    hsla(0, 0%, 100%, 0.08) 81.6%
  );
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  position: relative;
}

.orbit::after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.first-layer {
  width: 100%;
}

.avatar {
  position: absolute;
  width: 2.5rem;
}

.avatar-1 {
  top: -23px;
}
.avatar-2 {
  left: -24px;
}
.avatar-3 {
  right: -24px;
}
.avatar-4 {
  bottom: -24px;
}

.second-layer {
  width: 80%;
}

.avatar-5 {
  top: 40px;
  left: 35px;
}
.avatar-6 {
  top: 40px;
  right: 35px;
}
.avatar-7 {
  bottom: 40px;
  left: 35px;
}
.avatar-8 {
  bottom: 40px;
  right: 35px;
}

.third-layer {
  width: 70%;
}

.avatar-9 {
  top: 54px;
  left: -2px;
}

.avatar-10 {
  bottom: 54px;
  right: -2px;
}

/* MEET OUR TEAM SECTION */
.team {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 6.25rem;
  /* max-height: 100vh; */
}

.team__context {
  align-self: flex-start;
  width: 50%;
  line-height: 1.7;
  position: sticky;
  top: 79px;
}

.team__grid {
  width: 50%;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.member-card {
  border: 1px solid var(--clr-primary-100);
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.member__details {
  padding: 0.5rem 0;
}

.member-name {
  font-family: var(--ff-secondary);
  font-size: 1rem;
  font-weight: var(--fw-primary-300);
}

.member-position {
  font-family: var(--ff-primary);
  font-weight: var(--fw-primary-100);
  font-size: 0.875rem;
  --clr-neutral-200: hsla(0, 0%, 0%, 0.8);
  color: var(--clr-neutral-200);
}

/* CTA SECTION */
.cta {
  display: grid;
  grid-template-columns: 30% 30% 40%;
}

.cta__card {
  padding: 1.375rem;
}

.cta__content__wrapper {
  padding: 1.375rem;
  flex-direction: column;
  /* gap: 3.75rem; */
  justify-content: space-between;
  min-height: 27rem;
  transition: background-color var(--transition-duration),
    border-radius var(--transition-duration);
}

.join {
  width: 74%;
}

.cta__card-content {
  flex-direction: column;
  gap: 1rem;
}

.arrow-wrapper {
  padding: 1.35rem;
  border: 1px solid var(--clr-neutral-200);
  border-radius: 16px;
  width: fit-content;
  transition: padding var(--transition-duration),
    border var(--transition-duration);
}

.arrow {
  transition: rotate var(--transition-duration);
}

.arrow path {
  transition: fill var(--transition-duration);
}

/* Hover classes */
.arrow--grow {
  padding: 1.5rem;
  border: 1px solid var(--clr-neutral-100);
}

.arrow--rotate {
  rotate: -45deg;
}

.arrow--clr {
  fill: hsl(0, 0%, 100%);
}

.card--hover {
  background-color: var(--clr-primary-100);
  border-radius: 16px;
  cursor: pointer;
}

/* --------------- */

.border-left {
  border-left: 1px solid var(--clr-neutral-200);
}

.cta__heading {
  padding: 0 2.75rem;
}

/* FAQ SECTION */
.faq {
  justify-content: space-between;
  align-items: flex-start;
  gap: 7.5rem;
}

.faq-heading {
  line-height: 1;
  width: 50%;
}

.faq-content {
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.question-wrapper {
  border: 1px solid transparent;
  border-radius: 24px;
  --clr-neutral-200: hsl(0, 0%, 0%, 0.05);
  background-color: var(--clr-neutral-200);
  transition: background-color 1s, border 0.5s ease-in-out;
  cursor: pointer;
}

.question-wrapper:hover {
  border: 1px solid;
}

.question {
  padding: 1.3rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s;
}

.answer p {
  padding: 0 1.5rem 1rem;
}

.question-wrapper.active .answer {
  max-height: 25rem;
}

.active--section {
  border: 1px solid hsl(0, 0%, 11%);
  background-color: transparent;
}

.question-wrapper.active .question .faq__arrow {
  rotate: 180deg;
}

.faq__arrow {
  transition: rotate 0.75s;
}

/* FOOTER SECTION */
.footer .container {
  padding: 3.75rem 0;
  justify-content: space-between;
}

.footer-field {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.footer-field ::placeholder {
  color: hsla(0, 0%, 100%, 0.4);
}

.footer__input {
  color: var(--clr-neutral-100);
}

.contact {
  justify-content: space-between;
  flex-direction: column;
}

.contact-heading {
  padding-bottom: 1rem;
}

.contact-item {
  color: var(--clr-neutral-100);
}

.footer__nav-bar {
  gap: 0.75rem;
  flex-direction: column;
  line-height: 28px;
}

.footer__link:hover {
  color: hsl(0, 0%, 100%);
}

.contact-item > a {
  color: hsl(0, 0%, 100%);
}

.contact-item > a:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.nodisplay{
  display:none;
}

@media (min-width: 769px) {
  .header__grid {
    background: url(../assets/elipse.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .slides {
    display: grid;
    grid-template-rows: 105px auto 105px;
    column-gap: 3.125rem;
  }

  .one {
    grid-row: 1/3;
  }
  .two {
    grid-row: 2/4;
  }
  .three {
    grid-row: 2/4;
  }

  .four {
    grid-row: 1/3;
  }
}

@media (max-width: 768px) {
  .head-fs-100 {
    --fs-heading-100: 3rem;
  font-size: var(--fs-heading-100);
}
  
  .header-field {
    display: flex;
    flex-direction: column;
  }

  .header-field > .input {
    padding: 0.5rem 0;
  }

  .input {
    width: 100%;
  }

  .header-field > .input::placeholder {
    text-align: center;
  }

  /* ///////////////////////// */
  .carousel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .slides {
    position: relative;
    width: 300px;
    height: 600px;
    overflow: hidden;
  }

  .slide {
    position: absolute;
    transition: transform 1s;
    padding: 1rem;
    min-height: 100%;
  }

  .dots {
    border: none;
    background-color: #000000;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0;
  }

  .dots-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem;
  }

  .dots {
    border: none;
    background-color: #000000;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    margin: 0;
  }

  .dots--active {
    background-color: hsla(112, 31%, 40%);
    opacity: 1;
  }

  /* /////////////// */
  /* /////////////// */
  .main__article {
    padding: 2.5rem;
  }

  .navbar__link {
    display: none;
  }

  .main__article {
    flex-direction: column;
  }

  .our-goal {
    width: 100%;
  }

  .avatar {
    width: 20px;
  }

  .orbit__section {
    width: 100%;
  }

  .team {
    flex-direction: column;
  }

  .team__context {
    position: relative;
    width: 100%;
  }

  .team__grid {
    /* display: flex; */
    overflow: hidden;
    width: 100%;
  }

  .footer .container {
    flex-direction: column;
    gap: 1.875rem;
  }

  .input__field {
    --fs-paragraph-100: 0.9rem;
    font-size: var(--fs-paragraph-100);
  }

  .cta {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }

  .cta__heading {
    padding: 0;
    font-size: 1.5rem;
  }

  .border-left {
    border: 0;
  }

  .cta__card {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: var(--clr-neutral-200);
  }

  .contact-heading {
    font-size: 1rem;
  }

  .faq {
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    gap: 1.875rem;
  }

  .faq-heading {
    width: 100%;
    font-size: 1.5rem;
  }

  .faq-content {
    width: 100%;
  }

  .question > h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  .footer__nav-bar {
    display: none;
  }
}
